Homework 1: Introduction to Machine

In [25]:
import pandas as pd
import numpy as np

In [26]:
df= pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [27]:
df.dtypes

engine_displacement      int64
num_cylinders          float64
horsepower             float64
vehicle_weight         float64
acceleration           float64
model_year               int64
origin                  object
fuel_type               object
drivetrain              object
num_doors              float64
fuel_efficiency_mpg    float64
dtype: object

In [28]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [29]:
# Q1

pd.__version__

'2.3.2'

In [30]:
# Q2. Records count
# How many records are in the dataset?

df.shape[0]

9704

In [31]:
# Q3. Fuel types
# How many fuel types are presented in the dataset?

df.fuel_type.nunique()

2

In [32]:
# Q4. Missing values
# How many columns in the dataset have missing values?

missinng_values = df.isnull().sum()
missinng_values[missinng_values > 0].shape[0]

4

In [33]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?

df[df.origin == 'Asia'].fuel_efficiency_mpg.max().round(4)

np.float64(23.7591)

In [34]:
"""
Q6. Median value of horsepower
- Find the median value of horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.
""" 

median = df.horsepower.median()
mode = df.horsepower.mode()

new_hoserpower = df.horsepower = df.horsepower.fillna(mode[0])
new_median = new_hoserpower.median()

print("median:" , median)
print("mode:", mode[0]) 
print("new median:", new_median)

median: 149.0
mode: 152.0
new median: 152.0

In [35]:
"""
Q7. Sum of weights

1.Select all the cars from Asia
2.Select only columns vehicle_weight and model_year
3.Select the first 7 values
4.Get the underlying NumPy array. Let's call it X.
5.Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6.Invert XTX.
7.Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8.Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9.What's the sum of all the elements of the result?

"""

"\nQ7. Sum of weights\n\n1.Select all the cars from Asia\n2.Select only columns vehicle_weight and model_year\n3.Select the first 7 values\n4.Get the underlying NumPy array. Let's call it X.\n5.Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.\n6.Invert XTX.\n7.Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].\n8.Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.\n9.What's the sum of all the elements of the result?\n\n"

In [36]:

# get the assian cars

assian_cars = df[df.origin == 'Asia'][['vehicle_weight', 'model_year']].head(7) 

print(assian_cars)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [37]:

# numpy array

x = assian_cars.to_numpy()

print(x)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [38]:
# compute matrix-matrix multiplication

xtx = x.T.dot(x)

print(xtx)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [40]:
# invert xtx

xtx_inv = np.linalg.inv(xtx)

print(xtx_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [41]:
# create y array

y= np.array([1100, 1300, 800, 900, 1000, 1100, 1200])   

print(y)

[1100 1300  800  900 1000 1100 1200]

In [42]:
# multiply

w = xtx_inv.dot(x.T).dot(y)

print(w)

[0.01386421 0.5049067 ]

In [43]:
#sum

w.sum()

np.float64(0.5187709081074016)